.login {
  padding:10% 22%;
  .box{
    border:1px solid #e6e6e6;
    padding:5%;
    p {
      text-align:center;
    }
  }
  .el-button--primary{
    width:100%;
    background:orange;
    border:1px solid orange;
  }
  .unclick{
    pointer-events:none;
  }
  .getCode{
    padding:0px 6px;
    background:#eee;
    color:#333;
    position:absolute;
    right:0px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    top:0px;
  }
}